<!DOCTYPE html>
<html>
<head>
  <title>Team</title>
  <%= stylesheet_link_tag    "team/application", media: "all" %>
  <%= javascript_include_tag "team/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
